@import '../../styles/main.scss';

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: $text;
  &:hover {
    color: $accent-text;
  }
}

.activeLink {
  color: $accent-text;
}
