.form-container {
  width: 250px;
  margin: 20px auto 15px;
  padding: 15px;
  border: 1px solid #6f6c6c;
  border-radius: 4px;
}

.label {
  display: flex;
  flex-direction: column;

  margin-bottom: 15px;

  color: #818181;
}

.button {
  padding: 10px;
  color: #6c6767;
  background-color: rgb(225, 183, 183);
  border: 1px solid rgb(225, 183, 183);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.button:hover {
  color: beige;
  background-color: rgb(218, 146, 146);
  border: 1px solid rgb(225, 183, 183);
}
