@import '../../styles/main.scss';

.list {
  display: flex;
  flex-wrap: wrap;
  margin: -20px 20px 20px -20px;

  @media screen and (min-width: $tablet) and (max-width: $to-desktop) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 2 * 30px) / 3);
  }
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: calc(100% - 20px);
  margin-top: 15px;
  margin-left: 15px;
  padding: 15px 5px;
  border: 1px solid #818181;
  border-radius: 4px;
  transition: all $transition-duration $timing-function;

  @media screen and (min-width: $tablet) and (max-width: $to-desktop) {
    flex-basis: calc(100% / 2 - 20px);
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc(100% / 3 - 20px);
  }

  &:hover,
  &:focus {
    background-color: $hover;
    box-shadow: 0px 0px 1px rgb(0 0 0 / 15%);
  }
}

.name {
  text-transform: capitalize;
  font-weight: 500;
}

.number {
  margin-left: 15px;
  font-weight: 700;
}

.button {
  font-weight: bold;
  padding: 5px;
  color: $text;
  background-color: $bgcolor;
  border: 1px solid $bgcolor;
  border-radius: 5px;
  outline: none;
  cursor: pointer;

  &:hover {
    color: $accent-text;
    background-color: $accent;
    border: 1px solid $accent;
    box-shadow: $shadow;
  }
}
